.author .hero-section {

	.avatar-container {
		width: var(--avatarSize);
		height: var(--avatarSize);
		border-radius: 100%;

		+ .page-title {
			--itemSpacing: 0;	
		}
	}

	&[data-type="type-1"][data-alignment="center"] {
		.page-description {
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
	}	
}