.ct-social-box {
	
	// custom colors
	&[data-color="custom"] {
		&[data-fill="solid"] a {
			background: var(--backgroundColor);

			&:hover {
				--linkHoverColor: #fff;
				background: var(--backgroundColorHover);
			}
		}

		&[data-fill="outline"] a {
			border: 1px solid var(--backgroundColor);

			&:hover {
				border-color: var(--backgroundColorHover);
			}
		}
	}


	// official colors
	&[data-color="official"] {

		a {
			&:hover {
				opacity: 0.8;
			}
		}

		&[data-type="simple"] a {
			color: var(--officialColor);
		}
	
		&[data-fill="solid"] a {
			color: #fff;
			background: var(--officialColor);
		}

		&[data-fill="outline"] a {
			color: var(--officialColor);
			border: 1px solid var(--officialColor);
		}

		[data-network='facebook'] {
			--officialColor: #557dbc;
		}

		[data-network='facebook_group'] {
			--officialColor: #3D87FB;
		}

		[data-network='discord'] {
			--officialColor: #7187D4;
		}

		[data-network='twitter'] {
			--officialColor: #7acdee;
		}

		[data-network='instagram'] {
			--officialColor: #292929;
		}

		[data-network='pinterest'] {
			--officialColor: #ea575a;
		}

		[data-network='dribbble'] {
			--officialColor: #d77ea6;
		}

		[data-network='behance'] {
			--officialColor: #1B64F6;
		}	

		[data-network='linkedin'] {
			--officialColor: #1c86c6;
		}

		[data-network='medium'] {
			--officialColor: #292929;
		}

		[data-network='reddit'] {
			--officialColor: #FC471E;
		}

		[data-network='patreon'] {
			--officialColor: #e65c4b;
		}

		[data-network='vk'] {
			--officialColor: #5382b6;
		}

		[data-network='youtube'] {
			--officialColor: #e96651;
		}

		[data-network='vimeo'] {
			--officialColor: #8ecfde;
		}

		[data-network='rss'] {
			--officialColor: #f09124;
		}

		[data-network='whatsapp'] {
			--officialColor: #5BBA67;
		}

		[data-network='viber'] {
			--officialColor: #7F509E;
		}

		[data-network='telegram'] {
			--officialColor: #229CCE;
		}

		[data-network='xing'] {
			--officialColor: #0A5C5D;
		}

		[data-network='weibo'] {
			--officialColor: #E41C34;
		}

		[data-network='qq'] {
			--officialColor: #487FC8;
		}

		[data-network='wechat'] {
			--officialColor: #2DC121;
		}	

		[data-network='tumblr'] {
			--officialColor: #314255;
		}	
	}
}