// @import 'header';
// @import 'button';
// @import 'navigation';
// @import 'welcome-screen';
// @import 'downloads';
// @import 'system-status';
// @import 'changelog';
// @import 'modal';
// @import 'support-container';
// @import 'opt-in-screen';
// @import 'opt-in-message';

body.rtl {

	&.toplevel_page_ct-dashboard,
	&.appearance_page_ct-dashboard {
		#wpcontent {
			padding-left: initial;
			padding-right: 0;
		}

		[data-reach-dialog-overlay] {
			left: 0;
			right: var(--modal-right, 160px);
		}

		[data-reach-dialog-content] .close-button {
			right: initial;
			left: 5px;
		}

		// modal frame adjustments
		&.folded [data-reach-dialog-overlay] {
			--modal-right: 36px;
		}

		&.auto-fold [data-reach-dialog-overlay] {

			@media (max-width: 782px) {
				--modal-right: 0;
			}

			@media (min-width: 783px) and (max-width: 960px) {
				--modal-right: 36px;
			}
		}
	}

	#ct-dashboard > header h2 svg {
		margin-right: initial;
		margin-left: 15px;
	}

	#ct-dashboard .ct-first-steps-container .ct-first-steps .ct-button:after {
		content: 'â†';
		margin-left: initial;
		margin-right: 5px;
	}

	.ct-loading-text span {
		margin-right: initial;
		margin-left: 8px;
	}

	// starter sites
	.ct-demo-actions .ct-button {
		margin-right: initial;
		margin-left: 15px;
	}

	.ct-demo-step-controls {
		button.demo-back-btn {
			left: initial;
			right: 0;
		}

		button.demo-main-btn {
			right: initial;
			left: 0;
		}
	}

	.ct-demo-erase {
		text-align: right;
	}

	.ct-install-success a:first-child,
	.ct-modify-actions > *:not(:last-child) {
		margin-right: initial;
		margin-left: 15px;
	}

	// extensions
	.ct-extensions-list .ct-info i {
		margin-right: initial;
		margin-left: 20px;
	}

	.ct-extension-readme {
		text-align: right;
	}

	.ct-extension-readme ul, 
	.ct-extension-readme ol {
		padding-left: initial;
		padding-right: 20px;
	}

	// changelog
	.ct-changelog-wrapper ul li span {
		margin-right: initial;
		margin-left: 12px;
	}

	.ct-changelog-wrapper .changelog-explanation li:not(:last-child) {
		margin-right: initial;
		margin-left: 30px;
	}

	.ct-changelog-wrapper .changelog-sources li:first-child {
		margin-right: initial;
		margin-left: 15px;

		&:after {
			margin-left: initial;
			margin-right: 15px;
		}
	}
}