.ct-order-review {
	align-self: flex-start;
	position: sticky;
	top: 50px;
	border: 2px solid $border-color;

	@include media-breakpoint-down (sm) {
		padding: 25px;
	}

	@include media-breakpoint-up (md) {
		padding: 45px;
	}


	.shop_table {
		font-size: 15px;
		border: 0;

		thead th {
			border-top: none;
		}

		th, td {
			padding-left: 0;
			padding-right: 0;
			border-left: none;
			border-right: none;
		}

		.product-name, tfoot th {
			text-align: left;
		}

		.product-total, tfoot td {
			text-align: right;
		}

		.product-total {
			vertical-align: top;
		}

		tfoot {
			tr:last-child {
				th, td {
					border-bottom: none;
				}
			}
		}
	}
}