[class*="header-menu"] {
	height: var(--height);
	min-width: 0;

	.menu {
		height: inherit;
	}
}


// mobile menu
.mobile-menu {
	width: 100%;
}

[data-align="center"] .mobile-menu {
	&:not(.has-submenu) a {
		justify-content: center;
	}
}

[data-align="right"] .mobile-menu {
	&:not(.has-submenu) a {
		justify-content: flex-end;
	}
}